<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregunta 5: ¿Cómo te defines en términos de estilo de vida?</title>
    <link rel="stylesheet" href="/css/styles2.css">
</head>
<body>
<div class="container">
<h3>¿Cómo te definirías?</h3>
<form action="/pregunta5" method="post">
    <label for="estilo_vida">Selecciona tu estilo de vida:</label><br>
    <select name="estilo_vida" id="estilo_vida" required>
        <option value="" disabled selected>-- Selecciona una opción --</option>
        <option value="PASILLO_CONGELADOS">Soy un poco vago, me gusta la comodidad.</option>
        <option value="PASILLO_BEBIDAS_ALCOHOLICAS">Me gusta salir con amigos e ir de fiesta.</option>
        <option value="PASILLO_DULCES"> Me dejo llevar por antojos de comida, tengo que mejorar mi alimentación.</option>
        <option value="PASILLO_FRUTA_VERDURAS">Me gusta la naturaleza, cuidar de mi cuerpo y ser saludable</option>
    </select><br><br>
    <button type="submit">Siguiente</button>
</form>
</div>
</body>
</html>
