<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pregunta 4: ¿Qué tipo de recetas prefieres cocinar?</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
<h3>¿Qué tipo de recetas prefieres cocinar?</h3>
<form action="/pregunta4" method="post">
  <label><input type="radio" name="recetas" value="PASILLO_CONGELADOS" required> Algo rápido que no me tome mucho tiempo, ni siquiera se cocinar.</label><br>
  <label><input type="radio" name="recetas" value="PASILLO_BEBIDAS_ALCOHOLICAS"> Ups, se me había olvidado hacer la compra de la semana.</label><br>
  <label><input type="radio" name="recetas" value="PASILLO_DULCES"> Algún postre que me haya salido en tiktok.</label><br>
  <label><input type="radio" name="recetas" value="PASILLO_FRUTA_VERDURAS"> Alguna receta saludable de Instagram, no paran de salirme. </label><br>
  <button type="submit">Siguiente</button>
</form>
</div>
</body>
</html>
