<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Test de Pasillo del Mercadona</title>
  <link rel="stylesheet" href="/css/stylesInicio.css">
</head>
<body>
<div class="container">
  <h1>¿Quieres saber qué pasillo del Mercadona eres haciendo este test de personalidad?</h1>
  <form action="/nombre" method="post">
    <label for="nombreUsuario">Escribe tu nombre:</label>
    <textarea id="nombreUsuario" name="nombreUsuario" required></textarea>
    <button type="submit">Enviar</button>
  </form>
</div>
</body>
</html>
