<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregunta 3: Si tuvieses que elegir un regalo para un amigo, ¿qué escogerías?</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
<h3>Si tuvieses que elegir un regalo para un amigo, ¿qué escogerías?</h3>
<form action="/pregunta3" method="post">
    <label><input type="radio" name="regalo" value="PASILLO_CONGELADOS" required> Le llevaría a comer a algún restaurante, se me había olvidado.</label><br>
    <label><input type="radio" name="regalo" value="PASILLO_BEBIDAS_ALCOHOLICAS"> Le haría una fiesta en casa, no hasta muy tarde que mañana hay que trabajar.</label><br>
    <label><input type="radio" name="regalo" value="PASILLO_DULCES"> Le haría una tarta con nuestros amigos con un mensaje tonto.</label><br>
    <label><input type="radio" name="regalo" value="PASILLO_FRUTA_VERDURAS"> Le llevaría a hacer una ruta por la sierra, rezando por no perdernos.</label><br>
    <button type="submit">Siguiente</button>
</form>
</div>
</body>
</html>
