<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pregunta 6: ¿Qué prefieres para un picnic o día al aire libre?</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
<h3>¿Qué prefieres para un picnic o día al aire libre?</h3>
<form action="/pregunta6" method="post">
  <label><input type="radio" name="picnic" value="PASILLO_CONGELADOS" required> Una tortilla de patata del Mercadona.</label><br>
  <label><input type="radio" name="picnic" value="PASILLO_BEBIDAS_ALCOHOLICAS"> Una botellón.</label><br>
  <label><input type="radio" name="picnic" value="PASILLO_DULCES"> Unos Manolitos o unos donuts.</label><br>
  <label><input type="radio" name="picnic" value="PASILLO_FRUTA_VERDURAS"> Unos arándanos o unas uvas, aunque están muy caros.</label><br>
  <button type="submit">Siguiente</button>
</form>
</div>
</body>
</html>
