<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pregunta 2: ¿Qué actividad te resulta más atractiva cuando te relajas?</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
<h3>¿Qué actividad prefieres?</h3>
<form action="/pregunta2" method="post">
  <label><input type="radio" name="actividad" value="PASILLO_CONGELADOS" required> Ver una película mientras como algo de comida rápida.</label><br>
  <label><input type="radio" name="actividad" value="PASILLO_BEBIDAS_ALCOHOLICAS"> Tomarme algo con amigos como una cerveza o un tinto en verano.</label><br>
  <label><input type="radio" name="actividad" value="PASILLO_DULCES"> Hacer un picnic y comer algo dulce.</label><br>
  <label><input type="radio" name="actividad" value="PASILLO_FRUTA_VERDURAS"> Salir a hacer deporte.</label><br>
  <button type="submit">Siguiente</button>
</form>
</div>
</body>
</html>
