<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pregunta 7: Cuando vas al supermercado, ¿en qué pasillo te sueles detener más?</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
<h3>Cuando vas al supermercado, ¿en qué pasillo te sueles detener más?</h3>
<form action="/pregunta7" method="post">
  <label><input type="radio" name="pasillo_supermercado" value="PASILLO_CONGELADOS" required> El de los congelados o comida preparada, siempre compro lo mismo.</label><br>
  <label><input type="radio" name="pasillo_supermercado" value="PASILLO_BEBIDAS_ALCOHOLICAS"> El de bebidas y cosas de picar, hago muchas fiestas en mi casa.</label><br>
  <label><input type="radio" name="pasillo_supermercado" value="PASILLO_DULCES"> El de los dulces y bollería, me gusta desayunar contundentemente.</label><br>
  <label><input type="radio" name="pasillo_supermercado" value="PASILLO_FRUTA_VERDURAS"> El de frutas y verduras, intento comer bien.</label><br>
  <button type="submit">Finalizar</button>
</form>
</div>
</body>
</html>
